<!DOCTYPE HTML>
<html lang="pt-br">
<head>
    <meta charset="utf-8"/>
    <meta content="width=device-width, initial-scale=1, maximum-scale=1" name="viewport">
    <title>PROJETO Pet-Shop Lista de Unidade)</title>
    <link href="css/seu-stylesheet.css" rel="stylesheet"/>
    <script src="scripts/seu-script.js"></script>
</head>
<body>
<header>
    <nav>
        <ul>
            <li>Pargina de teste Aula Java TT</li>
            <li>Dieison Larri santos 05/2020</li>
        </ul>
    </nav>
</header>

<ul>
    <li th:each="unidade : ${unidades}">
            <span th:text="${unidade}" />

    </li>
</ul>



<footer>
    <p>Copyright 2021 Código Fonte©</p>
</footer>
</body>
</html>